<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>API</h1>
    <br/>
    <h3>Authentication</h3>

    <hr>

    <h4>Signup</h4>
    <h5>Params: fullname, unit, email, password</h5>
    <b>localhost:3090/signin</b>

    <hr>
    
    <h5>Params: email, password</h5>
    <h4>Signin</h4>
    <b>localhost:3090/signin</b>
</body>
</html>